extends layout

block content
    h1= title
    h2 Asset information you've given me

    table.asset-table
        tr
            td Asset ID
            td IP Address
            td MAC Address
        tr
            td= id
            td= ip
            td= mac
